<div class="homepage-featured">
    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
<!-- {{{region name="home_below_featured_products"}}} -->
<div>&nbsp</div>
        <div class="top-seller">
            <a href="#" class="best-seller-link">Shop Best Sellers</a>
        </div>
</div>
<div>&nbsp</div>

<div class="Shop-by-need">
    <div class="content-title">
        <h2>Shop By Need</h2>
    </div> 
</div>

<div class="shop-by-need-images">
    <div class="flex-four-img">
        <div>
            <img src="{{cdn '../img/homepage/relief-image.png' }} ">
            <div>
                <h2>Relief</h2>
                <p>consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aligua.</p>
                <div>&nbsp;</div>
                <a href="#">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/stress-img.png' }} ">
            <div>
                <h2>Stress</h2>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div>&nbsp;</div>
                <a href="#">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/sleep-img.png' }} ">
            <div>
                <h2>Sleep</h2>
                <p>Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore </p>
                <div>&nbsp;</div>
                <a href="#">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/wellness-img.png' }} ">
            <div>
                <h2>Wellness</h2>
                <p>Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt</p>
                <div>&nbsp;</div>
                <a href="#">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/mood-img.png' }} ">
            <div>
                <h2>Mood</h2>
                <p>Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt</p>
                <div>&nbsp;</div>
                <a href="#">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/Skincare-img.png' }} ">
            <div>
                <h2>Skincare</h2>
                <p>Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt</p>
                <div>&nbsp;</div>
                <a href="#">Shop Products</a>
            </div>
        </div>
    </div>
</div>
